In [1]:
import numpy as np
import pandas as pd

In [29]:
rural = pd.read_excel('CPI_time_series_September_2022.xls', sheet_name="Rural", skiprows=3)
rural = rural.rename(columns={"Unnamed: 0": "Province", "Unnamed: 1": "U_R", "Unnamed: 2": "COICOP", "Unnamed: 3": "Index"})
rural = rural.drop([0,19])
rural['Index']=df['Index'].str.replace('v', '')
rural['Index']=df['Index'].str.strip()
rural = rural.melt(id_vars=['Province', 'U_R', 'COICOP', 'Index', 'Weights'], var_name='Date', value_name='CPI')
rural['Level']='Rural'

urban = pd.read_excel('CPI_time_series_September_2022.xls', sheet_name="Urban", skiprows=3)
urban = urban.rename(columns={"Unnamed: 0": "Province", "Unnamed: 1": "U_R", "Unnamed: 2": "COICOP", "Unnamed: 3": "Index"})
urban = urban.drop([0,19])
urban['Index']=df['Index'].str.replace('v', '')
urban['Index']=df['Index'].str.strip()
urban = urban.melt(id_vars=['Province', 'U_R', 'COICOP', 'Index', 'Weights'], var_name='Date', value_name='CPI')
urban['Level'] = 'Urban'

rwanda = pd.read_excel('CPI_time_series_September_2022.xls', sheet_name="All Rwanda", skiprows=3)
rwanda = rwanda.rename(columns={"Unnamed: 0": "Province", "Unnamed: 1": "U_R", "Unnamed: 2": "COICOP", "Unnamed: 3": "Index"})
rwanda = rwanda.drop([0,19])
rwanda['Index']=df['Index'].str.replace('v', '')
rwanda['Index']=df['Index'].str.strip()
rwanda = rwanda.melt(id_vars=['Province', 'U_R', 'COICOP', 'Index', 'Weights'], var_name='Date', value_name='CPI')
rwanda['Level'] = 'All Rwanda'

frames = [rural, urban, rwanda]
combined =pd.concat(frames)

combined

,Province,U_R,COICOP,Index,Weights,Date,CPI,Level
0,0,2,00,Food and non-alcoholic beerages,10000.000000,2009-02-01,79.044848,Rural
1,0,2,01,Bread and cereals,4804.157852,2009-02-01,74.370003,Rural
2,0,2,01.1.1,Meat,757.212763,2009-02-01,94.318164,Rural
3,0,2,01.1.2,"Milk, cheese and eggs",155.515088,2009-02-01,85.257188,Rural
4,0,2,01.1.4,Vegetables,98.224042,2009-02-01,63.367950,Rural
...,...,...,...,...,...,...,...,...
2947,0,0,08,Recreation and culture,238.132177,2022-09-10,104.336523,All Rwanda
2948,0,0,09,Education,218.139813,2022-09-10,144.174072,All Rwanda
2949,0,0,10,Restaurants and hotels,200.988587,2022-09-10,157.109719,All Rwanda
2950,0,0,11,Miscellaneous goods and serices,643.987504,2022-09-10,139.507087,All Rwanda
2951,0,0,12,GENERAL INDEX (CPI),515.983451,2022-09-10,130.052991,All Rwanda

In [ ]:
## General case

df = pd.read_excel('CPI_time_series_September_2022.xls', sheet_name="Rural", skiprows=3)
df = df.rename(columns={"Unnamed: 0": "Province", "Unnamed: 1": "U_R", "Unnamed: 2": "COICOP", "Unnamed: 3": "Index"})
df = df.drop([0,19])
df['Index']=df['Index'].str.replace('v', '')
df['Index']=df['Index'].str.strip()
df = df.melt(id_vars=['Province', 'U_R', 'COICOP', 'Index', 'Weights'], var_name='Date', value_name='CPI')