### Rwandan CPI data clean function

The purpose of this notebook is to create a function for cleaning the Rwandan CPI data, ready for plotting on the dashboard.

#### Section 1: Import Packages

In [30]:
import numpy as np
import pandas as pd

#### Section 2: Hard coded version of reading in CPI data

In [31]:
file = "Data/CPI_time_series_September_2022.xls"

rural = pd.read_excel(file, sheet_name="Rural", skiprows=3)
rural = rural.rename(columns={"Unnamed: 0": "Province", "Unnamed: 1": "U_R", "Unnamed: 2": "COICOP", "Unnamed: 3": "Index"})
rural = rural.drop([0,19])
rural['Index']=rural['Index'].str.replace('v', '')
rural['Index']=rural['Index'].str.strip()
rural = rural.melt(id_vars=['Province', 'U_R', 'COICOP', 'Index', 'Weights'], var_name='Date', value_name='CPI')
rural['Level']='Rural'

urban = pd.read_excel(file, sheet_name="Urban", skiprows=3)
urban = urban.rename(columns={"Unnamed: 0": "Province", "Unnamed: 1": "U_R", "Unnamed: 2": "COICOP", "Unnamed: 3": "Index"})
urban = urban.drop([0,19])
urban['Index']=urban['Index'].str.replace('v', '')
urban['Index']=urban['Index'].str.strip()
urban = urban.melt(id_vars=['Province', 'U_R', 'COICOP', 'Index', 'Weights'], var_name='Date', value_name='CPI')
urban['Level'] = 'Urban'

rwanda = pd.read_excel(file, sheet_name="All Rwanda", skiprows=3)
rwanda = rwanda.rename(columns={"Unnamed: 0": "Province", "Unnamed: 1": "U_R", "Unnamed: 2": "COICOP", "Unnamed: 3": "Index"})
rwanda = rwanda.drop([0,19])
rwanda['Index']=rwanda['Index'].str.replace('v', '')
rwanda['Index']=rwanda['Index'].str.strip()
rwanda = rwanda.melt(id_vars=['Province', 'U_R', 'COICOP', 'Index', 'Weights'], var_name='Date', value_name='CPI')
rwanda['Level'] = 'All Rwanda'

frames = [rural, urban, rwanda]
combined =pd.concat(frames)

#### Section 3: Solve for general case using for loop

In [32]:
## General case

level = ["Urban", "Rural", "All Rwanda"]
df_list=[]


for i in level:
    df = pd.read_excel(file, sheet_name=i, skiprows=3)
    df = df.rename(columns={"Unnamed: 0": "Province", "Unnamed: 1": "U_R", "Unnamed: 2": "COICOP", "Unnamed: 3": "Index"})
    df = df.drop([0,19])
    df['Index']=df['Index'].str.replace('v', '')
    df['Index']=df['Index'].str.strip()
    df = df.melt(id_vars=['Province', 'U_R', 'COICOP', 'Index', 'Weights'], var_name='Date', value_name='CPI')
    df['Level']=i
    df_list.append(df)
    
combined1 = pd.concat(df_list)

combined1

,Province,U_R,COICOP,Index,Weights,Date,CPI,Level
0,0,1,00,GENERAL INDEX (CPI),10000.000000,2009-02-01,81.387210,Urban
1,0,1,01,Food and non-alcoholic beerages,2737.905830,2009-02-01,76.529674,Urban
2,0,1,01.1.1,Bread and cereals,539.363861,2009-02-01,85.495338,Urban
3,0,1,01.1.2,Meat,197.400354,2009-02-01,86.102152,Urban
4,0,1,01.1.4,"Milk, cheese and eggs",132.067302,2009-02-01,61.977946,Urban
...,...,...,...,...,...,...,...,...
2947,0,0,08,Communication,238.132177,2022-09-10,104.336523,All Rwanda
2948,0,0,09,Recreation and culture,218.139813,2022-09-10,144.174072,All Rwanda
2949,0,0,10,Education,200.988587,2022-09-10,157.109719,All Rwanda
2950,0,0,11,Restaurants and hotels,643.987504,2022-09-10,139.507087,All Rwanda
2951,0,0,12,Miscellaneous goods and serices,515.983451,2022-09-10,130.052991,All Rwanda

#### Section 4: Create function using general case

In [65]:
def cpi_data(file):
    level = ["Urban", "Rural", "All Rwanda"]
    df_list=[]
    for i in level:
            df = pd.read_excel(file, sheet_name=i, skiprows=3)
            df = df.rename(columns={"Unnamed: 0": "Province", "Unnamed: 1": "U_R", "Unnamed: 2": "COICOP", "Unnamed: 3": "Index"})
            df = df.drop([0,19])
            df['Index']=df['Index'].str.replace('v', '')
            df['Index']=df['Index'].str.strip()
            df = df.melt(id_vars=['Province', 'U_R', 'COICOP', 'Index', 'Weights'], var_name='Date', value_name='CPI')
            df['Level']=i
            df_list.append(df)
    cpi = pd.concat(df_list)
    return(cpi)

In [66]:
file = "Data/CPI_time_series_December_2022.xls"
cpi = cpi_data(file)
cpi

,Province,U_R,COICOP,Index,Weights,Date,CPI,Level
0,0,1,00,GENERAL INDEX (CPI),10000.000000,2009-02-01,81.387210,Urban
1,0,1,01,Food and non-alcoholic beerages,2737.905830,2009-02-01,76.529674,Urban
2,0,1,01.1.1,Bread and cereals,539.363861,2009-02-01,85.495338,Urban
3,0,1,01.1.2,Meat,197.400354,2009-02-01,86.102152,Urban
4,0,1,01.1.4,"Milk, cheese and eggs",132.067302,2009-02-01,61.977946,Urban
...,...,...,...,...,...,...,...,...
3001,0,0,08,Communication,238.132177,2022-12-10,104.084028,All Rwanda
3002,0,0,09,Recreation and culture,218.139813,2022-12-10,151.684570,All Rwanda
3003,0,0,10,Education,200.988587,2022-12-10,178.898016,All Rwanda
3004,0,0,11,Restaurants and hotels,643.987504,2022-12-10,142.594896,All Rwanda
3005,0,0,12,Miscellaneous goods and serices,515.983451,2022-12-10,130.181812,All Rwanda